*{
  font-family: 'inter',sans-serif;
}

.container {
  display: grid;
  justify-content: center;
}

h1 {
  width: fit-content;
}
h1::after{
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, red ,blue);
}